<input [(ngModel)]="aparecerinput" type="text">
<br>
 <button (click)="aparecer('1')">1</button>
 <button (click)="aparecer('2')">2</button>
 <button (click)="aparecer('3')">3</button>
 <button (click)="aparecer('+')">+</button>
 <br>
 <button (click)="aparecer('4')">4</button>
 <button (click)="aparecer('5')">5</button>
 <button (click)="aparecer('6')">6</button>
 <button (click)="aparecer('-')">-</button>
 <br>
 <button (click)="aparecer('7')">7</button>
 <button (click)="aparecer('8')">8</button>
 <button (click)="aparecer('9')">9</button>
 <button (click)="aparecer('*')">*</button>
 <br>
 <button (click)="aparecer('0')">0</button>
 <button (click)="aparecer('/')">/</button>
 <button (click)="limpar()">C</button>
 <button (click)="igual()">=</button>
 <button (click)="aparecer('.')">.</button>